@keyframes colorizer {
    
    0%{color: orange}
    50%{color: red}
    75%{color: yellow}
    100%{color: orange}
    
}

@keyframes colorizer-bg {
    0%{background-color: blue}

    50%{background-color: purple}

    100%{background-color: blue}
}

.main-header{
    width: 100%;
    background-color: rgb(67, 13, 102);
    height: 4em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}

.site-title{
    
    animation: colorizer 5s infinite linear;
    align-self: center;
}

.site-logo{
    width: 3.5em;
    margin:0.25em 1em;
    align-self: center;
}

.header-left-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    
}

.header-right-elements{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.header-item{
    padding: 0 1em;
    font-size: 1.5em;
    align-self: flex-end;
}

.borderBottom{
    width: 100%;
    height: 6px;
    
    animation: colorizer-bg 5s infinite linear;
}